.loginButton {
  position: relative;
}

.loginCard {
  position: absolute;
  top: 12vh;
  right: 25px;
}

.create-account {
  position: relative;
  top: 20px;
  color: #2196F3;
  font-weight: bold;
  cursor: pointer;
}

.register-logo {
  margin: 10px;
}

.close-button {
  float: right;
}

.register-image {
  margin: 0 auto;
}

