/* Home Section */
.loginButton {
  position: relative;
}

.loginCard {
  position: absolute;
  top: 12vh;
  right: 25px;
}

.create-account {
  position: relative;
  top: 20px;
  color: #2196F3;
  font-weight: bold;
  cursor: pointer;
}

.event-card-header {
  color: white;
}
.register-logo {
  margin: 10px;
}

.close-button {
  float: right;
}

.register-image {
  margin: 0 auto;
}

.product-card {
  cursor: pointer;
}
/*Product Detail Section*/
.product-detail { 
  background-color: #dddddd;
  height: auto;
  width: auto;
}

.title-section {
  color : #30475E;
  padding: 12px;
}

.title-page {
  display: inline-block;
}

.product-title h1{
  color : #30475E;
}

.rating-num {
  color : #30475E;
}

.rating-star {
  display: inline-block;
}

.product-price p {
  color: #30475E;
}

.product-price h1{
  color: #F05454;
}

.product-desc p {
  color: #30475E;
}

.product-desc h1 {
  color: #222831;
}
.product-act {
  margin-top: 20px;
}

.btn-ask {
  float: left;
}

.btn-order {
  float: right;
}

.btn-review {
  float: right;
  margin: 5px;
}